@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<br />
<br />
<p>@Website_Content_Translate_Using_AppResource.App_LocalResources.Resource.this_website_is_a_demostratinon_of_the_how_to_translate_website_content_using_app_resources_in_asp_net_c__</p>
<p>
    1. your resource shoud set buid action property to embed resource </p>
    <p>2. in Resource set access modifire default.
</p>
